body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border: 0;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: bold;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.header {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;

}

.header-bot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    gap: 50px;
}

.hero {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}


.imgcontainer {
    border-radius: 10px;
    background: url(./image.jpg);
    background-size: cover;
    flex: 1.2;
    
}

.second-section {
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.second-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.second-top {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.second-bot {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 90px;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
    font-size: 18px;
    color: #929292;
}

.subtext {
    padding-left: 20px;
}

.third-section {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 30px;
}

.third-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 890px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    padding-left: 50px;
}

.quote-name {
    font-weight: bolder;
    color: #1f2937;
    font-size: 18px;
}

.fourth-section {
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
    
}

.fourth-content {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    gap: 70px;
    border-radius: 15px;
    flex: 0.5
}

.fourth-left {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    gap: 5px;
    flex: 1;
}

.left-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.fourth-right button {
    border: #e5e7eb solid 2px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer-text {
    color: #e5e7eb;
}