body {
    font-family: Roboto, sans-serif;
}



a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 30px 90px;

}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 90px;

}

.header-bot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    gap: 30px;
}

.hero {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.container {
    border-radius: 10px;
    background: url(./image.jpg);
    background-size: cover;
    flex: 1.2;
    flex-basis: content;
}